@font-face {
  font-family: 'StretchPro.ttf';
  src: url('./AVOIDANCE/StretchPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #ffcd42;
  --secondary-color: #ffd35c;
  --bg-primary: #ffffff;
  --text-color: #222222;
  --text-color-two: #ffffff;
  --bg-secondary: #000000;
  --card-background: #a1a1a1;
  --bg-secondary-two: #111111;
  --shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

  --weight-small: 400;
  --weight-semibold: 600;
  --weight-bold: 800;

  --width-small: 600px;
  --width-medium: 1100px;
  --width-large: 1300px;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-primary);
  color: var(--text-color);
  font-family: 'StretchPro.ttf', sans-serif;
  line-height: 1.5;
}

ul {
  list-style: none;
}

h1, h2, h3, p, a, .project-bio h3 {
  font-family: 'StretchPro.ttf', sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: var(--weight-bold);
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

@keyframes bounce {
  from { transform: translateY(0px); }
  to { transform: translateY(-10px); }
}

.division {
  width: 100%;
  height: 2px;
  background-color: var(--card-background);
  margin: 0 0;
}

#projects {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 5rem;
}

.project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(512px, auto);
  grid-gap: 0.8rem;
}

.project-info {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  position: relative;
  transition: 0.5s ease-in-out;
}

.project-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

@media (max-width: 1000px) {
  .project {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .project {
    grid-template-columns: 1fr;
  }
}
